{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div>
        <div class="d-flex justify-content-between mx-2 my-2">
            <div><h1 class="fs-2">Accueil</h1></div>
            <div><h3 class="fs-2">Rechercher</h3></div>
        </div>
        <div>
            <div>
                <h1 class="fs-2"><a href="{{ path('addpost')}}">Créer un nouveau post</a></h1>
            </div>
        </div>
    </div>
{% endblock %}
