{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between mx-2 my-2 flex-row">
            <div><h1 class="fs-3">Accueil</h1></div>
            <div><h3 class="fs-3">Rechercher</h3></div>
        </div>
        <div class="row">
            <div class="col-8">
                {% include '_partials/_userPosts.html.twig' %}
            </div>
            <div class="col-4">
                {% include '_partials/_latestPosts.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
